<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título de la página{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        <!-- Aquí puedes agregar contenido del encabezado común -->
    </header>
    
    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <!-- Aquí puedes agregar contenido del pie de página común -->
    </footer>
    
    {% block javascripts %}{% endblock %}
</body>
</html>
