{% extends 'base.html.twig' %}

{% block title %}Título específico de la página{% endblock %}

{% block body %}
   <!-- Contenido específico de esta página -->
   <h1>Contenido de mi página</h1>
   <p>Este es el contenido específico de esta página.</p>
{% endblock %}
