{% extends 'base.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block body %}
    <div class="container">
        <h1 >Error 404 - ¡La página no ha sido encontrada!</h1>
        <img src="https://cdn.icon-icons.com/icons2/317/PNG/512/sign-error-icon_34362.png" alt="Error 404">
    </div>
{% endblock %}