{% extends 'base.html.twig' %}

{% block title %}Nueva playlist{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Crear nueva playlist</h1>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                {{ include('playlist/_form.html.twig') }}
            </div>
        </div>

        <div class="text-center mt-4">
            <a href="{{ path('app_playlist_index') }}" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </div>
{% endblock %}